@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root{
    --dark-blue: hsl(218, 44%, 22%);
    --gray-blue: hsl(216, 15%, 48%);
    --light-blue: hsl(212,45%, 89%);
    --white: hsl(0, 0%,100%);
}
body{
    margin:0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    background: var(--light-blue);
    display: grid;
    place-content: center;
    min-height: 100vh;

}
.container{
   background: var(--white);
   width: 320px;
   margin-inline:auto;
   padding:15px;
   border-radius: 20px;
   text-align: center;
}
img{
    display:block;
    margin:auto;
    width:100%;
    border-radius:10px;
    
}
h1{
    font-weight: 700;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
    background: hsl(0, 0%, 100%);
}
p{
    font-weight: 400;
    font-size:19px;
    color: hsl(216, 15%, 48%);
    background: hsl(0, 0%, 100%);
}
.attribution{
    padding-top:15px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: hsl(216, 15%, 48%);
}
