@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root{
    --dark-blue: hsl(218, 44%, 22%);
    --gray-blue: hsl(216, 15%, 48%);
    --light-blue: hsl(212,45%, 89%);
    --white: hsl(0, 0%,100%);
}
body{
    font-family: "Outfit", sans-serif;
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;
}
.container{
    margin:0px;
    width:288px;
    background: var(--white);
    padding:16px;
    text-align : center;
    border-radius: 20px;
}
img{
    width:100%;
    border-radius: 10px;
}
h1{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 120%;
    color: hsl(218, 44%, 22%);
    padding:0px 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}
p{
    font-weight: 400;
    font-size:15px;
    letter-spacing: 0.2px;
    line-height: 140%;
    color: hsl(216, 15%, 48%);
    padding:0px 16px;
    margin-bottom: 24px;
}
.attribution {
    font-size: 11px;
}

