@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root{
    --dark-blue: hsl(218, 44%, 22%);
    --gray-blue: hsl(216, 15%, 48%);
    --light-blue: hsl(212,45%, 89%);
    --white: hsl(0, 0%,100%);
}
body{
    margin:0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: 1440px;
    min-width: 375px;
    height:100vh;
}
.container{
   background: var(--white);
   padding:15px;
   border-radius: 20px;
   height:500px;
   width: 290px;;
   text-align: center;
}
img{
    width:100%;
    border-radius:10px;
}
h1{
    font-weight: 700;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}
p{
    font-weight: 400;
    font-size: 16px;
    color: hsl(216, 15%, 48%);
}
